@font-face {
    font-family: f1;
    src: url(../fonts/Poppins-Regular.ttf)
}

/*---Globale css---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: f1;
}

body,html{
    height:100%;
    width:100%;
}

:root {
    --primary: #AB7442;
    --light: #F5F5F5;
    --dark: #353535;
    --c1: #fff;
    --c2: #ecf0f3;
}

.brdW{
    border:2px solid white;
}


.fcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lcenter {
    display: grid;
    justify-content: center;
}

.container {
    width: 90%;
    height: fit-content;
    margin: 1.5rem auto;
}


.box {
    width: fit-content;
    padding: 2rem;
    border-radius: 20px;
}

.shadow1 {
    box-shadow: 15px 15px 30px #d1d9e6,-15px -15px 30px #fff;
}

.flx{
    display:flex;
}



.btnn {
    font-size: 1.1rem;
    padding: .7rem !important;
    background: var(--c1);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    width: fit-content !important;
}

    .btn:hover {
        background: var(--primary);
        color: var(--c1);
    }

/*----End Globle----*/

/*----form css----*/
.frm {
    /*border:1px solid black !important;*/
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    filter:blur(10%);
    backdrop-filter:blur(50px)!important;
    height:100%;
}

p.header {
    color: var(--dark);
    margin:1rem auto;
    font-weight: 999;
    text-decoration: blink;
    text-align: center;
    width:fit-content;
    border-bottom:2px solid white;
    padding:0rem 2rem;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px white,-2px -2px 2px white;
   backdrop-filter: blur(250px);
}

    .frm input {
        border: none;
        background: var(--c2);
        padding: .5rem;
        outline: none;
        color: var(--primary);
        width: 12rem;
        border-radius: 10px;
    }

    .frm table {
        border-spacing: 1rem;
        text-align: left;
        width:fit-content
    }
    .frm .tbl2 th{
        width:max-content;
    }
        .frm table th {
            font-weight: 100;
            width:100%;
        }

    .frm .dropd,.frm select{
        color: var(--primary);
        outline: none;
        padding: 0.3rem;
        border: none;
        background: var(--c2);
        border-radius: 5px;
    }
.frm  input[type=radio] {
    accent-color: var(--primary);
    width: unset !important;
    text-align:start !important;
}


.workerimg{
    height:60vh;
    width:auto;
    right:0;
}

#ContentPlaceHolder2_DataList1{
    border-spacing:2rem;
    border-collapse:unset !important;
}
