@font-face{
    font-family:f1;
    src:url(../fonts/Poppins-Regular.ttf)
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:f1;
}

:root {
    --primary: #AB7442;
    --light: #F5F5F5;
    --dark: #353535;
    --c1:#ecf0f3;
}

.dropd{
    color:var(--primary);
    outline:none;
    padding:1rem;
}